body {
  /*font-family: 'Roboto Mono', monospace;*/
  /*font-family: 'DM Mono', monospace;*/
  font-family: 'Sintony', sans-serif;
  background: linear-gradient(90deg, #FFDFDF 0%, #CDECFF 100%); 
  /*background: black*/
}

.row {
  background-color: white;
}

#react-google-places-autocomplete-input {
  width: 600px;
}

.google-places-autocomplete__suggestions-container {
  color: black;
}
/* .google-places-autocomplete__suggestion {
  background: black;
} */
.google-places-autocomplete__suggestion:hover {
  background: lightblue;
}

.mapcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.latlongcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mapcontrolcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
}

.healthyscorecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
}

.healthyhoodscore {
  font-weight: 800;
  text-align: center;
  font-size: 30px;
  margin-bottom: 15px;
}

.healthyscoredetailscontainer {
  display: flex;
  flex-direction: flex;
  justify-content: space-between;
  margin: 10px 0px;
}

.yelpscoredetail, .walkscoredetail, .iqairscoredetail {
  margin: 0px 30px;
}

.yelpscoredetail, .iqairscoredetail {
  padding-top: 20px;
}

