.favorites__mainContainer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.favorites__headingContainer {
}

.favorites__cardsSectionContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.favorites__searchCardOuterContainer {
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 2px;
  box-shadow: -5px 5px 2px gray;
  background-color: rgb(43, 226, 226, 0.4);
}

.favorites__searchCardContainer {
  height: 250px;
  width: 180px;
  margin: 2px;
  border: 1px solid black;
  padding: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 2px;
  box-shadow: -2px 2px 2px gray;
}

.favorites__title {
  margin-top: 0px;
  margin-bottom: 20px;
}

.favorites__searchCardField {
  margin: 3px;
}

.favorites__searchCardContainer button {
  align-self: center;
}

.favorites__cardButton {
  width: 50%;
  margin-top: 20px;
  overflow: hidden;
  background-color: rgb(230, 245, 16, 0.7);
}
